%div{ class: "index_entry #{current_user.is_readed?(entry.id) ? 'read' : ''}", id: "entry_#{entry.id}"}
  .actions
    %span.square{ role: 'check' }
    = check_box_tag 'entry[ids][]', entry.id, false

    = link_to action_entries_path(entry, current_user.is_stared?(entry.id) ? :unstar : :star), remote: true, method: :post do
      %span.star{ role: 'star', class: current_user.is_stared?(entry.id) ? 'check' : '' }

    = link_to action_entries_path(entry, current_user.is_flaged?(entry.id) ? :unflag : :flag), remote: true, method: :post do
      %span.flag{ role: 'flag', class: current_user.is_flaged?(entry.id) ? 'check' : '' }
  .body
    %span{ class: "group_color_#{entry.channel.color}", role: "tooltip", title: entry.channel.title, data: { placement: "bottom" } }
    %span.title
      = link_to entry.name, entry
      \–
    %span.summary
      = strip_tags entry.summary
  %span.date
    = entry.published_at.to_formatted_s(:short) if entry.published_at
