= form_tag batch_actions_entries_path, remote: true do
  .actions_menu
    %span.square{ role: 'check_all' }
    - %w{read flag star}.each do |action|
      = button_tag action.capitalize, remote: true, method: :post, type: :submit, name: :method, value: "#{action}"
      = button_tag "Un#{action}", remote: true, method: :post, type: :submit, name: :method, value: "un#{action}"
  = render 'entry_list'
