.show_entry{role: 'show_entry'}
  %h3
    = @entry.name
  %small.channel
    = link_to @entry.channel.title, @entry.url, target: '_blank'
    = @entry.published_at.to_formatted_s(:long)
  - if @entry.body.blank?
    .summary
      = raw @entry.summary
      .empty_entry
        = link_to 'Get body', get_body_entries_path(id: @entry.id), class: 'button', remote: true, data: {disable_with: 'Geting... body'}
  - else
    .body
      = raw @entry.body
