.entry
  %h3
    = @entry.name
    %small.original_entry
      = link_to 'original entry', @entry.url, target: '_blank'
  - if @entry.body.nil?
    .summary
      = raw @entry.summary
      .empty_entry
        = link_to 'Get body', get_body_entries_path(id: @entry.id), class: 'button'
  - else
    .body
      = raw @entry.body
