%h3 Import OPML file

= form_for @new_import, url: import_index_path, html: { multipart: true } do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.file_field :name
  = f.submit "Import", data: { :disable_with => 'Importing...' }

- if @imports.present?
  - @imports.each do |import|
    .import_item
      = import.name
      .date
        = import.created_at.to_formatted_s(:short)
