!!!
%html
  %head
    %title Ereader
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{ rel: "stylesheet", href: "http://yandex.st/highlightjs/8.0/styles/default.min.css" }
    %script{ src: "http://yandex.st/highlightjs/8.0/highlight.min.js" }
    = csrf_meta_tags
  %body{ id: rand(10..20) }
    .page_container
      .sidebar
        = render 'layouts/sidebar'
      .main_content{ role: :main_content }
        .notice
          = notice
        .alert
          = alert
        .container
          = yield
    .loading.hidden{role: :loading}
      Loading...
